<p>Minimalne demo funkcji wymaganych w zadaniu.</p>
<ul>
  <li><a href="/upload">1. Przesyłanie plików (input type="file")</a></li>
  <li><a href="/layout-demo">2. Layouty (express-ejs-layouts)</a></li>
  <li><a href="/forms">3. Include z parametrami (radio / checkbox)</a></li>
  <li>
    <a href="/download"
      >4. Generowanie strumienia do pobrania (Content-Disposition)</a
    >
  </li>
  <li><a href="/cookies">5. Cookies (dodaj / odczytaj / usuń)</a></li>
  <li>
    <a href="/sessions">6. Sesje (dodaj / odczytaj / usuń / file store)</a>
  </li>
</ul>
