<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title || 'Lista 8' %></title>
  </head>
  <body>
    <header>
      <h1><%= title || 'Lista 8' %></h1>
      <nav>
        <a href="/">Home</a> | <a href="/upload">Upload</a> |
        <a href="/layout-demo">Layouts</a> | <a href="/forms">Forms</a> |
        <a href="/download">Download</a> | <a href="/cookies">Cookies</a> |
        <a href="/sessions">Sessions</a>
      </nav>
      <hr />
    </header>

    <main><%- body %></main>
  </body>
</html>
